<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Puppy</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <h1>New Puppy</h1>

      <fieldset>
        <form action="/create" method="post">
          <input name="name" type="text" placeholder="Name" required>
          <input name="breed" type="text" placeholder="Breed" required>
          <input name="birthdate" type="text" placeholder="Date of birth YYYY-MM-DD" required>
          <input type="submit" value="Create">
        </form>
      </fieldset>

    </div>
  </body>
</html>